html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
}